@model IEnumerable<PantryItem>

<h2 class="h2index">Pantry Items</h2>

@using (Html.BeginForm("Search", "PantryItem", FormMethod.Get))
        {
            <p>@Html.TextBox("searchString", null, new { @placeholder = "Name or Category" })
                <input class="btn" type="submit" value="search"/>
            </p>
        }


<div style="display: inline-flex">
    <a class="btn" href="/PantryItem/AddPantryItem/">Add a New Pantry Item</a>
</div>

<table class="table">
    <tr>
        <th>ID#</th>
        <th>Item Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Unit</th>
        
        
    </tr>

    @foreach (var pantryitem in @Model)
    {
        <tr>
            <td><a href=/PantryItem/ViewPantryItem/@pantryitem.ItemID>@pantryitem.ItemID</a></td>
            <td><a href=/PantryItem/ViewPantryItem/@pantryitem.ItemID>@pantryitem.ItemName</a></td>
            <td>@pantryitem.Category</td>
            <td>@pantryitem.Quantity</td>
            <td>@pantryitem.Unit</td>
            

        </tr>
    }

</table>
