@model PantryItem

<h3>@Model.ItemName Information</h3>

<table class="table">
    <tr>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Unit</th>


    </tr>
    <tr>
        <td>@Model.ItemID</td>
        <td>@Model.ItemName</td>
        <td>@Model.Category</td>
        <td>@Model.Quantity</td>
        <td>@Model.Unit</td>

    </tr>
</table>

<div style="display:inline-block">
    <a class="btn" href="/PantryItem/UpdatePantryItem/@Model.ItemID">Update</a>
</div>

<br />
<br />


<div style="display: inline-block">

    @using (Html.BeginForm("DeletePantryItem", "PantryItem", "Post"))
    {
        <input class="btn" type="hidden" asp-for="ItemID" value="@Model.ItemID" />
        <input class="btn" type="submit" onclick="return confirm('Are you sure?')" value="Delete" />
    }
</div>
